.card__toggle
{
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
}

.card__toggle img
{
    width: 1.5rem;
	height: 1.5rem;
	transition: ease-in-out .05s;
}

.card__toggle img:active
{
   width: 1.65rem;
   height: 1.7rem;
}
