<div class="container">
<div class="card">
	<!-- ВЕРХНЯЯ ЧАСТЬ КАРТОЧКИ -->
  <div class="card__img-top">
  <img src="../img/card/card__img-top/sauna.jpg" alt="img">
  <div class="card__toggle">
  	<img src="../img/card/icons/heart.png" alt="img">
  </div>
  </div>
  <!-- ВЕРХНЯЯ ЧАСТЬ КАРТОЧКИ -->
  <!-- ТЕЛО КАРТОЧКИ -->
  <div class="card-body">
    <div class="card-body__name">
    <h5 class="card-title">Сауна &laquo;Синяя борода&raquo;</h5>
    <h6 class="card-subtitle mb-2 text-muted">в комплексе &laquo;Теремок&raquo;</h6>
    </div>
    <div class="card-body__description">
    <p class="card-text">Финская сауна на дровах</p>
    <ul class="card-body__list-group">
    <li class="list-group__item"><p>до 5 человек</p></li>
    <li class="list-group__item"><p>от 4000 <span>Т</span> в час</p></li>
  </ul>
  <div class="card-body__icons">	
     <img src="../img/card/icons/billiard.png" alt="img">
     <img src="../img/card/icons/cradit.png" alt="img">
     <img src="../img/card/icons/leaf.png" alt="img">
  </div>
  </div>
  <div class="card-button">
    <a href="#" class="btn">Заказать сауну</a>
  </div>
  </div>
  <!-- ТЕЛО КАРТОЧКИ -->
</div>
</div>