.list-group__item
{
    box-sizing: border-box;
    left: 0;
    color: #30B0D3;
}

.list-group__item span
{
	text-decoration: overline;
	font-size: .775rem;
}

.list-group__item p
{
	margin: 0;
	color: #000;
}