.btn-toggle
{
	cursor: pointer;
    background: url('../../../../../img/card/icons/heart.png') no-repeat center;
    background-size: 90%;
    transition: ease-in-out .25s;
    box-shadow: none !important;
    outline: none !important;
}