.btn-toggle_active {
  background: url('../../../../../../img/card/icons/blue-heart.png') no-repeat center !important;
  background-size: 105% !important;
}

.btn-toggle
{
	padding: 1rem;
    margin: .8rem;
    margin-right: 1.1rem;
    margin-top: .7rem;
}